@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Thin-slnt=0.ttf');
    font-weight: 100;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-ExtraLight-slnt=0.ttf');
    font-weight: 200;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Light-slnt=0.ttf');
    font-weight: 300;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Medium-slnt=0.ttf');
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Regular-slnt=0.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-SemiBold-slnt=0.ttf');
    font-weight: 600;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Bold-slnt=0.ttf');
    font-weight: 700;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-ExtraBold-slnt=0.ttf');
    font-weight: 800;
}