footer .social{
    margin: 22px 0;
}
footer .social h4{
    font-size: 20px;
}
footer .social .links:{
    margin-right: 2px;
}
footer .social .links .social-icon{
    margin-left: 16px;
}
footer .social .links .social-icon img{
    width: 24px;
    height: 24px;
}
footer .footer-content{
    justify-content: space-between;
    border-top: 1px solid #E6E6E7;
    border-bottom: 1px solid #E6E6E7;
    padding : 34px 0;
}
footer .footer-content .menu h4{
    font-size: 25px;
    margin-bottom: 4px;
}
footer .footer-content .menu ul{
    list-style: none;
    padding-left: 0;
    margin-top: 2px;
}
footer .footer-content .menu ul li{
    margin : 2px 0 ;
}
footer .footer-content .menu ul li a{
    color: #02090F;
    font-size: 16px;
}
footer .copyright{
    padding : 23px 0;
}
footer .copyright img {
    width: 165.33px;
    height: 24px;
}
footer .copyright h6{
    font-size: 16px;
    color: #353A3F;
}