body{
    font-family: 'Inter'!important;
}
.main-slider{
    padding: 60px 0;
    background-position: center;
}
.bg-dots{
    background-image: url('../img/slider-background.svg');
}
.main-slider h2{
    font-size: 49px;
    margin: 35px 0;
    width: 86%;
    line-height: 55px;
}
.main-slider h5{
    font-size: 20px;
    font-weight: 400;
    width: 50%;
    line-height: 28px;
}
.main-slider .btn-primary{
    background-color: #142F8F;
}
.main-slider .slider-buttons{
    margin: 30px 0;
}
.main-slider .slider-buttons .btn-primary{
    margin-right: 7px;
}
.solutions{
    padding: 102px 0;
}
.solutions .solution{
    background: #FEFEFE;
    border: 1px solid #E6E6E7;
    padding: 20px;
    height: 100%;
}
.solutions .solution .btn img{
    width: 16px;
    height: 16px;
}
.solutions .solution h5{
    font-size: 31px;
}
.solutions .solution p{
    margin-top: 8px;
}
.solutions .solution .btn{
    width: 100%;
}
.eco-system{
    padding: 102px 0;
}
.eco-system .layer{
    height: 50%;
}
.eco-system .banner{
    background-image: url('../img/banner.svg');
    justify-content: space-between;
    padding: 37px 58px;
    border-radius: 8px;
}
.eco-system .banner h2{
    color: #fff;
}
.icon{
    margin:auto;
    margin-left: 8px;
    height: 15px;
}
.online-chat{
    margin: 50px 0;
}
.online-chat img {
    width: 87%;
    height: auto;
}
.manage-section img{
    width: 87%;
    height: auto;
    display: flex;
    margin-left: auto;
}
.rectangle-primary{
    background: #142F8F;
    width: 86%;
    height: 86%;
    border-radius: 50%;
    padding: 41%;
}
.rectangle-secondary{
    background: #2DCDCD;
    margin-left: auto;
    width: 86%;
    height: 86%;
    border-radius: 50%;
    padding: 41%;
}
.feature-description{
    margin: auto;
}
.feature-description .contributors{
    margin-top: 45px;
}
.feature-description .contributors h4{
    font-size: 25px;
    margin-bottom: 23px;
}
.feature-description h3{
    font-weight: 400;
    line-height: 45px;
}
.feature-description h5{
    font-weight: 300;
    line-height: 27px;
}
.custom-online{
    margin-top: -92px!important;
}
.startup-manage{
    padding-bottom: 15%;
}
#q-security-updates{
    background: #142F8F;
    padding: 10% 0;
}
#q-security-updates h3, #q-security-updates h5{
    color: #fff;
}
#q-security-updates img{
    width: 100%;
    height: auto;
}
.startup-facts{
    padding: 80px 0;
    margin-top: 40px;
}
.startup-facts .inside{
    position: relative;
    display: block;
}
.startup-facts .description{
    margin-bottom: 52px;
}
.startup-facts .description h5{
    margin-top: 25px;
}
.startup-facts .description .note .circle{
    position: absolute;
    background-color: #F7F7F7;
    right: 0;
    top: 0;
    border-radius: 50%;
    z-index: -1;
    padding: 64%;
    margin-top: -11%;
}
 .startup-facts .fact{
    background: #FEFEFE;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 20px;
    height: 85%;
 }
 .startup-facts .fact h5{
     margin-bottom: 12px;
 }
 .startup-facts .fact p{
     margin-bottom: 0;
 }
 .trusted{
     padding: 80px 0;
 }
 .trusted h3{
     margin-bottom: 40px;
 }
 .trusted .companies{
     margin: 30px 0;
 }
 .trusted .companies .col:first-child{
    padding-left: 0;
}
 .trusted .companies .company{
     width: 100%;
     background :#fff;
     height: 152px;
     border: 1px solid #E6E6E7;
     border-radius: 8px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
.faq .head-accordion{
    background: #F7F7F7;
    border-bottom: 1px solid #E6E6E7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding : 27px 24px;
    cursor: pointer;
    position: relative;
}

.faq .head-accordion:after{
    content: url('../img/icons/up.svg');
    float: right;
    position: absolute;
    right: 19px;
    top: 30px;
}
.faq .collapsed:after{
    content: url('../img/icons/down.svg')!important;
    float: right;
    position: absolute;
    right: 19px;
    top: 30px;
}
.faq{
    padding: 80px 0;
}
.faq .accordion-body{
    background: #F7F7F7;
    border-bottom: 1px solid #E6E6E7;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding : 27px 24px;
}
.faq .accordion-body p{
    margin-left: 13px;
}
.user{
    margin-bottom: 25px;
}
.user .avatar{
    background-color:#F1F1F1;
    padding: 15px;
    border-radius: 50%;
    margin-right: 16px;
}
.user .avatar img{
    width: 17px;
    height: 17px;
    margin: auto;
    display: flex;
}
.user  h5{
    align-items: center;
    justify-content: center;
    display: flex;
}
.about-header{
        padding: 100px 0;
        height: 70vh;
        background: #142F8F;
        background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}
.about-header .about-title{
    color: #FEFEFE;
    font-size: 49px;
    margin-top: 20px;
}
.greycolor{
    color: #CCCECF;
}
.about-pic{
   margin-top: -12%; 
}
.about-pic h3{
    color: #FEFEFE;
    font-size: 31px;
    text-align: right;
    margin-bottom: 30px;
}
.about-pic img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(8, 35, 48, 0.16);
}
.irbis{
    padding: 120px 0;
    margin-top: 80px;
}
.irbis .logo{
    margin-bottom: 50px;
    
}
.irbis .logo img{
    width: 46%;
    height: auto;
}
.irbis .logo:nth-child(2) img{
    margin-left: -15px;
}
.irbis .about-desc h5{
    line-height: 28px;
}
.team{
    padding: 80px 0;background: #FEFEFE;
    border-radius: 8px;
    margin: 40px;
}

.team h3{
    margin-top: 3px;
    margin-bottom: 30px;
}
.team .person{
    margin-bottom: 50px;
    padding: 0 54px ;
}
.team .person .person-img img{
    width: 100%;
    height: auto;
}
.team .person .person-info{
    margin-top: 13px;
}
.team .person .person-info h6{
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;

    position: relative;
}
.team .person .person-info .linkedin{
    margin-left: 7px;
    text-align: center;
    left: 5p;
    position: absolute;
    top: -2px;
}
.team .person .person-info p{
    font-size: 12px;
    text-align: center;
}
.contact{
    padding: 80px 0;
}
.contact h3{
    margin-bottom: 80px;
}
.contact .address h6 , .contact .support h6{
    margin-left: 34px;
    line-height: 24px;
}
.contact .icon{
    margin-right: 8px;
}
.contact .address .location , .contact .support div:first-child{
    margin-right: 50px;
}
.contact .address div:nth-child(2) ,.contact .support div:nth-child(2){
    margin-left: 50px;
}
.contact .support{
    margin-top: 30px;
}
.content-horizontal__shapes-wrapper{
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
  }
#q-security-updates{
    height: 500px;
    background: #142F8F;
    z-index: 2;
    display: block;
    position: relative;
}
.coworking-slider{
    background-image: url('../img/coworking.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    padding: 60px 0;

}
.coworking-slider h4{
    font-size: 26px;
    text-align: center;
    color: #112468;
    margin-top: 30px;

}
.coworking-slider h1{
    font-size: 96px;
    color: #112468;
    text-align: center;
    font-weight: 600;
}
.features{
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(8, 35, 48, 0.2);
    border-radius: 16px;
    padding: 40px;
    margin-top: -9%;
}
.features .feature {
    padding: 12px;
}
.features .feature .icon{
    display: flex;
    margin: auto;
    height: 71px;
    width: 71px ;
    border-radius: 50%;
}
.features .feature .icon img{
    margin :auto;
    display: flex;
}
.features .feature .map{
    background-color: #FEE4E2;
}
.features .title p{
    text-align: center;
    margin-top: 12px;
}
.features .feature .briefcase{
    background-color: #FCF3D7;
}
.features .feature .wifi{
    background-color: #DAF5F2;
}
.features .feature .users{
    background-color: #E6EFFF;
}
.features .feature .book{
    background-color: #F0E5FA;
}
.features .feature .coffee{
    background-color: #DAFCD7;
}
.events h2{
    margin-bottom: 44px;
}
.events .event{
    background: #F6F8F9;
    padding: 24px;
    height: 90%;
}
.events .event h5{
    margin-bottom: 12px;
    color: #000;
}
.events .event p{
    font-size: 14px;
}
.rooms h2{
    margin-bottom: 47px;
    color: #112468;
    font-weight: 400;
    font-size :48px;
}
.rooms .tab-section .container{
    padding-left: 0;
}
.rooms .tab-section .nav li a{
    padding:17px;
}
.rooms .tab-section .nav li .active{
    border-bottom: 1.5px solid #142F8F;
}
.rooms .tab-section .nav-tabs{
    border-bottom: inherit;
}
.rooms .tab-section .nav li a{
    color: #414A59;
    font-size: 14px;
}
.rooms .tab-section .nav li a:hover{
    text-decoration: none;
}
.rooms .tab-content{
    margin-top: 15px;
    border-top: 1px solid #E2E4E7;
    background: #F6F8F9;
}
.rooms .tab-content .room-title{
    display: flex;
    justify-content: space-between;
}
.rooms .tab-content .room-title h4{
    color: #020D22;
    font-size: 24px;
    font-weight: 600;
}
.rooms .tab-content .room-action{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.rooms .tab-content .owl-carousel .owl-item{
    opacity: 0.5;
}
.rooms .tab-content .owl-carousel .active{
    opacity: 1!important;
}
.rooms .tab-content .owl-carousel .owl-item img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.prices{
    background: #F6F8F9;
}
.prices h2{
    margin-bottom: 50px;
    font-size: 49px;
    font-weight: 600;
    color: #112468;
}
.prices .price{
    background: #fff;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column; 
}
.prices .price h5{
    color: #142F8F;
    font-size: 20px;
    margin-top: 20px;
}

.prices .price h4{
    color: #112468;
    font-weight: 600;
}
.prices .price h4 span{
    font-size: 16px;
    font-weight: 400;
}
.prices .price p{
    margin-top: 31px;
    color: #656D7B;
    font-size:12px;
    margin-bottom: 0;
}
.prices .price ul{
    margin-top : 12px;
    list-style : none;
    padding-left: 0;
}
.prices .price ul li{
    font-size: 14px;
    margin-bottom: 12px;
}
.prices .price ul li:before{
    content: url('../img/icons/check.svg');
    margin-right: 10.67px;

}
.prices .price .btn{
    border-radius: 4px;
    /* margin: auto; */
    margin-top: auto;
    width: 95px;
    margin-left: auto;
    font-size: 14px;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.portfolio-slider .owl-carousel .item .quote-text{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.portfolio-slider .owl-carousel .owl-dots{
    position: relative;
    left: 23%;
    top: -223px;
    right: auto;
    bottom: 0;
    margin-right: 0;
    margin-left: 0;
    float: left;
    opacity: .5;
}
.portfolio-slider .owl-carousel .item .quote-text h5{
    position: relative;
    font-size: 20px;
    padding: 0 40px;
    color: #081236;
}
.portfolio-slider .owl-carousel .item .quote-text h6{
    margin-top: 50px;
    color: #081236;
    font-size: 16px;
}
.portfolio-slider .owl-carousel .item .quote-text p{
    font-size: 14px;
    color: #081236;
    opacity: 0.7;
}
.portfolio-slider .owl-carousel .item h5:before{
    content: url('../img/icons/quote1.svg');
    position: absolute;
    top: -60px;
    left: 0;
}
.portfolio-slider .owl-carousel .item h5:after{
    content: url('../img/icons/quote2.svg');
    position: absolute;
    bottom: -60px;
    right: 0;
}
.portfolio-slider .owl-carousel .potrait{
    padding : 60px;
    padding-right: 0;
    padding-top: 20px;
}
.portfolio-companies{
    padding: 80px 0;
    background: #112468;
    margin: 0 40px;
    margin-top: -10%;
}
.portfolio-companies h2{
    margin: 20px 0;
    margin-bottom: 72px;
    color: #fff;
    font-size: 60px;
}
.portfolio-companies .company{
    border: 1px solid #142F8F;
    border-radius: 4px;
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    height: 95%;
}
.portfolio-companies .company .logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 60px;
}
.portfolio-companies .company h6{
    color: #FFFFFF;
    font-size: 16px;
    padding: 40px 60px;
    text-align: center;
    margin-top: auto;
}
.sltc-slider{
    background-image: url('../img/sltc.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 85vh;
    padding: 55px 0;
}
.sltc-slider .sltc-title{
    position: relative;
    height: 100%;
}
.sltc-slider .container{
    height: 100%;
}
.sltc-slider .sub-contain{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.sltc-slider .sub-contain .title{
    margin-bottom: 37px;
    width: 61%;
}
.sltc-slider .sub-contain .desc{
    width: 39%;
}
.sltc-slider h1{
    font-size: 86px;
    color: #FEFEFE;
    font-weight: 700;
}
.sltc-slider .desc{
    display: flex;
    align-items: flex-end;
    height: 100%;
    justify-content: flex-end;
}
.sltc-slider h5{
    right: 0;
    bottom: 3%;color: #FEFEFE;
    font-size: 20px;
    text-align: left;
}
.options-modal .modal-content{
    background: #FEFEFE;
    border: 1px solid #E6E6E7;
    box-sizing: border-box;
    box-shadow: 0px 2px 24px rgba(2, 13, 34, 0.12);
    border-radius: 16px;
}
.options-modal .modal-body .options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.options-modal .modal-body .options .option{
    background: #F7F7F7;
    border: 1px solid #E6E6E7;
    border-radius: 4px;
    padding: 16px;
    width: 100%;
    cursor: pointer;
    margin: 11px;
}
.options-modal .modal-body .options img{
    margin: auto;
    display: flex;
}
.options-modal .modal-body .options h5{
   text-align: center;
   font-size: 20px;
}
.options-modal .modal-dialog{
    max-width: 800px;
}
.options-modal .modal-body h4{
    color: #353A3F;
    font-size: 26px;
    text-align: center;
    margin: 40px 0;
}

.sltc-info h3{
    font-size: 34px;
    color: #02090F;
    width: 70%;
    margin-bottom: 8px;
}
.sltc-info .info{
    width: 70%;
}
.sltc-info .info h5{
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
}
.sltc-info .info p{
    font-size : 20px;
    font-weight: 400;
}
.sltc-info .info .sub-info{
    padding-left: 50px;
    margin: 24px 0;
}
.sltc-info .info .sub-info p{
    color: #353A3F;
    font-size: 20px;
}
.sltc-info .info .sub-info .first:before{
    content: 'A';
    color: #9A9D9F;
    font-size: 20px;
    position: absolute;
    margin-left: -25px;
}
.sltc-info .info .sub-info .second:before{
    content: 'B';
    color: #9A9D9F;
    font-size: 20px;
    position: absolute;
    margin-left: -25px;
}
.sltc-info .info .btn{
    margin-top: 40px;
}
.sltc-info .info .btn img{
    width: 16px;
    height: 16px;
}
.custom-hr{
    position: relative;
    padding: 30px 0;
}
.custom-hr hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #E6E6E7;
}
.custom-hr h3{
    position: absolute;
    background: #fff;
    color: #9A9D9F;
    text-align: center;
    left: 0;
    font-size: 16px;
    right: 0;
    margin: 0 auto;
    width: 64px;
    top: 40px;
}
.selection .selection-accordion .accordion{
    position: relative;
    padding-left: 100px;

}

.selection .selection-accordion{
    margin : 40px 0;
    width: 70%;
}
.selection .selection-accordion .accordion-single{
    margin : 60px 0;
    
}
.selection .selection-accordion .accordion{
    counter-reset: section;
    list-style: none;
}
.selection .selection-accordion .head-accordion{
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}
.selection .selection-accordion .accordion-single:before{
    position: absolute;
    margin-top: -11px;
    counter-increment: section;
    content: counter(section) ;
    left: 0;;
    height: 64px;
    width: 64px;
    font-weight: 400;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    -webkit-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    line-height: 3.75rem;
    font-size: 24px;
    font-weight: 400;
    background : #CCCECF;
}
.selection .selection-accordion .accordion-single:after{
    /* content: '';
    position: absolute;
    top: 4.125rem;
    height: calc(100% - 12px);
    left: 1.8438rem;
    width: 0.0625rem;
    height: 40%;
    height: calc(100% - 38px);
    background-color: rgba(0,0,0,.1);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; */
}
.selection .selection-accordion .accordion-single .accordion-title{
    cursor: pointer;
    position: relative;
}
.selection .selection-accordion .accordion-single .collapsed:after{
    content: url('../img/icons/chevron-down.svg')!important;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #E6E6E7;
    box-sizing: border-box;
    border-radius: 500px;
    padding-left: 12px!important;
    padding-top: 7px!important;
    width: 40px;
    height: 40px;
}
.selection .selection-accordion .accordion-single .head-accordion:after{
    content: url('../img/icons/chevron-up.svg');
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #E6E6E7;
    box-sizing: border-box;
    border-radius: 500px;
    padding-left: 8px;
    padding-top: 7px;
    width: 40px;
    height: 40px;
}
.awards h3{
    font-size: 34px;
    color: #02090F;
    width: 70%;
    margin-bottom: 8px;
}
.awards .awards-table{
    margin-top: 38px;
    border-bottom: 1px solid #E6E6E7;
    width: 100%;
}
.awards .awards-table th {
    border-bottom: 1px solid #E6E6E7;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 24px;
    border-right: 1px solid #E6E6E7;
}
.awards-table th:first-child{
    text-align: left;
    padding-left: 0;
}
.awards-table th:last-child{
    border-right: none;
}
.awards-table td{
    border-right: 1px solid #E6E6E7;
    border-bottom: 1px solid #E6E6E7;
}
.awards-table td:last-child{
    border-right: none;
}
.awards-table td img{
    display: flex;
    margin :auto;
}
.contributor {
    background: #142F8F;
    padding : 80px 0;
}
.contributor h2{
    color: #FEFEFE;
    font-size: 48px;
}
.contributor p{
    font-size: 20px;
    color: #FEFEFE;
    width: 85%;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    height: 88%;
}
.cores h3{
    font-size: 34px;
    margin: 50px 0;
}
.cores .core{
    margin-bottom: 25px;
}
.cores .core h2{
   border-bottom: 1px solid #9A9D9F;
   padding-bottom: 16px;
}
.cores .core h4{
    margin-top: 16px;
    font-size: 26px;

}
.cores .core h5{
    font-size: 20px;
    margin-top: 8px;
}