@import "index.css";
@import "nav.css";
@import "footer.css";
@import "font.css";
@import "responsive.css";


p , h1,h2,h3,h4,h5{
    color: #353A3F;
    font-family: 'Inter';
}
p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
h3{
    font-size: 39px;
}
h5{
    font-size: 20px;
    font-weight: 300;
}
.p-100{
    padding: 100px 0;
}
.p-50{
    padding : 50px 0;
}
.section-title{
    font-size: 34px;
    margin-bottom: 60px;
}
.b-grey{
    background: #F7F7F7;
}
.btn{
    font-size: 16px;
    padding: 12px 24px;
}
.btn-primary{
    background: #142F8F!important;
    color: #fff;
    border-radius: 4px;
}
.btn-primary-text{
    background: none!important;
    color :#142F8F;
    font-size: 16px;
}
.btn-secondary-text{
    background: none!important;
    color: #fff;
    font-size: 16px;
}
.btn-secondary{
    background: #F7F7F7;
    color: #142F8F;
    border-radius: 4px;
    border-color: snow;
}
.space-between{
    justify-content: space-between;
}
.full-height{
    height: 100%;
}
.btn-primary-rounded{
    background: #142F8F;
    border-radius: 500px;
    color: #fff;
    font-size: 14px;
}


