@media only screen and (max-width: 600px) {
    .main-slider h2{
        font-size: 40px;
        margin: 20px;
        text-align: left;
    }
    .main-slider h5{
        width: inherit;
        text-align: left;
    }
    .eco-system .banner{
        background-position: left;
        padding: 33px 36px;
    }
    .eco-system .banner h2{
        font-size: 26px;
    }
    .footer-content{
        text-align: center;
    }
    .footer-content h4{
        margin-bottom: 15px;
    }
    footer .copyright{
        display: block!important;
    }
    footer .copyright img{
        margin: auto;
        display: flex;
    }
    footer .copyright h6{
        margin-top: 25px;
        text-align: center;
    }
    .about-header .about-title{
        font-size: 32px;
    }
    .about-pic{
        margin-top: -30%;
    }
    .team{
        margin: 15px;
    }
    .team h3{
        text-align: center;
    }
    .team .person .person-info h6{
        font-size: 19px;
    }
    .team .person .person-info p{
        display: block;
        font-size: 18px;
        display: block;
        text-align: center;
    }
    .contact-info .address{
        flex-direction: column!important;
    }
    .contact-info div{
        margin-bottom: 15px;
    }
    .contact-info div:nth-child(2){
        margin-left: 0!important;
    }
    .contact-info .support{
        flex-direction: column!important;   
    }
    .irbis{
        padding: 80px 0;
    }
    .irbis .about-desc{
        margin-bottom: 16%;
    }
    .main-slider .slider-buttons{
        display: flex;
        margin: auto;
        margin-top: 40px;
    }
    .rectangle-primary{
        width: 94%;
        height: 94%;
        border-radius: 50%;
        padding: 45%;
    }
    .online-chat .feature-description, .manage-section .feature-description{
        margin-top: 20px;
        text-align: left;
    }
    .online-chat h5, .manage-section h5{
        margin-top: 20px;
    }
    .rectangle-secondary{
        margin-left: inherit;
        width: 94%;
        height: 94%;
        padding: 45%;
    }
    #q-security-updates h5{
        margin: 25px 0;
    }
    .faq .head-accordion h5{
        width: 80%;
    }
    .nav .nav-item .nav-link {
        font-size: 19px;
    }
    .coworking-slider h4{
        font-size: 21px;
    }
    .coworking-slider h1{
        font-size: 48px;
    }
    .price{
        border-bottom: 1px solid #E2E4E7;
    }
    .portfolio-slider .owl-carousel .item .quote-text{
        margin-top: 66px;
    }
    .owl-carousel .owl-item .potrait{
        padding : 25px;
    }
    .portfolio-companies{
        margin : 0 5px;
    }
    .portfolio-companies h2{
        font-size: 48px;
    }
    .options-modal .modal-body .options a{
        margin: 5px;
    }
    .options-modal .modal-body .options h5{
        font-size: 12px;
    }
    .sltc-slider .sub-contain{
        justify-content: inherit;
        align-items: inherit;
        flex-direction: column;
    }
    .sltc-slider .sub-contain h1{
        font-size: 61px;
    }
    .sltc-slider .sub-contain .title{
        width: 100%;
    }
    .sltc-slider .sub-contain .desc{
        width: 100%;
    }
    .sltc-info .info{
        width: 90%;
    }
    .selection .selection-accordion{
        width: 90%;
    }
}