
    .theme--dark {
      --color-is-1: #fff;
      --color-is-2: #000;
      --color-is-3: #000;
      --color-is-4: #073042;
      --color-is-5: #073042;
      --color-is-6: #fff;
      --color-is-7: #073042;
      --color-is-8: #2d2d2d;
      --color-is-9: #8ab4f8;
      --color-is-10: #10151c;
      --color-is-11: #000;
      --color-is-12: #073042;
      --color-is-13: #4c4c4c;
      --color-is-14: #fff;
      background-color: #000
    }

    .theme-base {
      transition: background-color .3s ease-in
    }

    :root {
      --font-size-heading-1: 5.5rem;
      --font-size-heading-2: 3.5rem;
      --font-size-heading-3: 3rem;
      --font-size-heading-4: 2.5rem;
      --font-size-heading-5: 2rem;
      --font-size-heading-6: 1.5rem;
      --copy-size-l: 1.5rem;
      --copy-size-m: 1.125rem;
      --copy-size-s: 1rem;
      --eyebrow: 0.75rem
    }

    :root,
    [lang=de],
    [lang=es],
    [lang=fr],
    [lang=pt],
    [lang=ru] {
      --font-size-heading-7: 1rem;
      --font-size-scaling-2: var(--font-size-heading-2);
      --font-size-scaling-3: var(--font-size-heading-3)
    }

    [lang=de],
    [lang=es],
    [lang=fr],
    [lang=pt],
    [lang=ru] {
      --font-size-heading-1: 3.5rem;
      --font-size-heading-2: 3rem;
      --font-size-heading-3: 2.5rem;
      --font-size-heading-4: 2rem;
      --font-size-heading-5: 1.5rem;
      --font-size-heading-6: 1.125rem
    }

    .is-1,
    .is-2,
    .is-3,
    .is-4,
    .is-5,
    .is-6,
    .is-7 {
      font-weight: 700
    }

    .is-1,
    .is-2,
    .is-3,
    .is-4,
    .is-5,
    .is-6,
    .is-7,
    .is-eyebrow {
      color: #000;
      font-family: "Android Euclid", Helvetica, Arial, sans-serif
    }

    .is-eyebrow {
      font-weight: 500
    }

    .is-copy,
    .is-copy-l,
    .is-copy-m {
      color: #000;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-weight: 400
    }

    .is-1,
    .is-2,
    .is-3,
    .is-4,
    .is-5,
    .is-6,
    .is-copy,
    .is-copy-l,
    .is-copy-m {
      margin-bottom: 32px
    }

    .is-1 {
      font-size: var(--font-size-heading-1);
      letter-spacing: -.125rem;
      line-height: var(--font-size-heading-1)
    }

    .is-2 {
      font-size: var(--font-size-heading-2);
      letter-spacing: -.0625rem;
      line-height: var(--font-size-heading-2)
    }

    .is-2--scale {
      font-size: var(--font-size-scaling-2);
      line-height: var(--font-size-scaling-2)
    }

    .is-3 {
      font-size: var(--font-size-heading-3);
      letter-spacing: -.0625rem;
      line-height: var(--font-size-heading-3)
    }

    .is-3--scale {
      font-size: var(--font-size-scaling-3);
      line-height: var(--font-size-scaling-3)
    }

    .is-4 {
      font-size: var(--font-size-heading-4);
      line-height: var(--font-size-heading-4)
    }

    .is-4,
    .is-5 {
      letter-spacing: -.0625rem
    }

    .is-5 {
      font-size: var(--font-size-heading-5);
      line-height: var(--font-size-heading-5)
    }

    .is-6 {
      font-size: var(--font-size-heading-6);
      letter-spacing: -.0625rem;
      line-height: var(--font-size-heading-6)
    }

    .is-7 {
      font-size: var(--font-size-heading-7);
      font-weight: 500;
      letter-spacing: -.03125rem;
      line-height: 1.5rem;
      margin-bottom: 16px
    }

    .is-3-to-2 {
      color: #000;
      font-family: "Android Euclid", Helvetica, Arial, sans-serif;
      font-size: var(--font-size-heading-3);
      font-weight: 700;
      letter-spacing: -.0625rem;
      line-height: var(--font-size-heading-3);
      margin-bottom: 32px
    }

    .is-copy-l {
      font-size: var(--copy-size-l);
      letter-spacing: 0;
      line-height: 2.5rem
    }

    .is-copy-m {
      font-size: var(--copy-size-m);
      line-height: 2rem
    }

    .is-copy {
      font-size: var(--copy-size-s);
      letter-spacing: 0;
      line-height: 1.5rem
    }

    .is-eyebrow {
      font-size: var(--eyebrow);
      letter-spacing: .0625rem;
      line-height: 1rem;
      margin-bottom: 24px;
      text-transform: uppercase
    }

    .is-footnote {
      font-size: .75rem;
      line-height: 1.25rem
    }

    .is-link {
      font-size: .875rem;
      line-height: 1.5rem
    }

    .is-icon svg {
      height: 48px;
      margin-bottom: 16px;
      width: 48px
    }

    .is-masthead,
    .is-wide-masthead {
      grid-column: 1/-1;
      grid-row: masthead
    }

    * {
      font-size: 100%;
      margin: 0;
      padding: 0;
      vertical-align: baseline
    }

    ol,
    ul {
      list-style: none
    }

    blockquote,
    q {
      quotes: none
    }

    blockquote:after,
    blockquote:before,
    q:after,
    q:before {
      content: "";
      content: none
    }

    table {
      border-collapse: collapse;
      border-spacing: 0
    }

    address,
    button,
    input,
    select,
    textarea {
      font-family: inherit;
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit
    }

    body {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale
    }

    main {
      height: 100%
    }

    p {
      line-height: 1.5rem;
      margin: 0 0 24px
    }

    p:last-child {
      margin-bottom: 0
    }

    *,
    :after,
    :before {
      box-sizing: border-box
    }

    .icon--svg {
      fill: currentColor;
      outline: none
    }

    .svg-icons {
      display: none
    }

    .fixed {
      overflow: hidden
    }

    .no-break {
      white-space: nowrap
    }

    * sup {
      font-size: .5em;
      vertical-align: super
    }


    body,
    html {
      color: #404040;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      overflow-x: hidden
    }

    html.global-disable-scroll {
      height: 100vh;
      overflow: hidden;
      width: 100%
    }

    html.global-disable-scroll main {
      overflow: hidden
    }

    html.global-disable-scroll .header-default:after {
      height: 100vh
    }

    body {
      font-size: .875rem
    }

    body:after {
      content: "small";
      display: none
    }

    .js-focus-visible :focus:not(.focus-visible) {
      outline: transparent
    }

    .visually-hidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: auto;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px
    }

    .visually-hidden.focusable:active,
    .visually-hidden.focusable:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      white-space: inherit;
      width: auto
    }

    .text-center {
      text-align: center
    }

    img[data-c-lazy-image] {
      opacity: 0
    }

    .hidden {
      display: none
    }

    .logo-android__logo-icon {
      color: #000
    }

    .logo-android__logo-icon--white {
      color: #fff
    }

    .logo-android__andy-icon {
      fill: #3dda84
    }

    .logo-android__andy-icon--white {
      fill: #fff
    }

    video:not([controls])::-internal-media-controls-overlay-cast-button {
      display: none
    }

    .is-video-frame {
      position: relative;
      width: 195px;
      z-index: 1
    }

    .is-video-frame img {
      display: block
    }

    .is-video-frame video {
      background-color: #171717;
      left: 50%;
      min-height: 90%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 95.5%;
      z-index: -1
    }

    .error-log {
      background-color: #eb3e2b;
      color: #fff;
      padding: 30px 0;
      position: relative;
      z-index: 10
    }

    .error-log__wrapper>* {
      grid-column: 1/13;
      line-height: 2.5
    }

    .error-log__list {
      list-style: disc;
      padding-left: 20px
    }

    .background-shapes {
      -webkit-animation: fadein 1s;
      animation: fadein 1s;
      display: grid;
      grid-column: 1/-1;
      grid-row: 1/-1;
      grid-template-areas: "topleft topcenter topright""middleleft middlecenter middleright""bottomleft bottomcenter bottomright";
      grid-template-columns: repeat(3, 33.33%);
      grid-template-rows: repeat(3, 33.33%);
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1
    }

    .background-shapes>div {
      transition: background-color .3s ease-in, border-color .3s ease-in
    }

    .background-shapes--parallax {
      -webkit-transform: translateY(calc((var(--component-position) - var(--scroll-position)) * .08));
      transform: translateY(calc((var(--component-position) - var(--scroll-position)) * .08))
    }

    .background-shapes__sausage {
      border: 10px solid #f86734;
      border-radius: 500px;
      height: 173px;
      position: relative;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      width: 330px
    }

    .background-shapes__sausage--cornflower {
      border-color: #4285f4
    }

    .background-shapes__sausage--burning-orange {
      border-color: #f86734
    }

    .background-shapes__sausage--blue-sky {
      border-color: #d7effe
    }

    .background-shapes__sausage--green-tea {
      border-color: #eff7cf
    }

    .background-shapes__sausage--shamrock {
      border-color: #3ddc84
    }

    .background-shapes__sausage--tiber {
      background-color: #073042;
      border-color: #073042
    }

    .background-shapes__sausage--progressive {
      height: calc(100vw - 1px);
      width: calc(100vw + 400px)
    }

    .background-shapes__sausage--progressive-height {
      height: calc(100vw + 100px)
    }

    .background-shapes__sausage--brand {
      border-color: #3ddc84;
      height: calc(100vw - 1px);
      width: calc(400px + 100vw)
    }

    .background-shapes__sausage--brand-filled {
      background-color: #3ddc84;
      border-color: #3ddc84
    }

    .background-shapes__sausage--burning-orange-filled {
      background-color: #f86734;
      border-color: #f86734
    }

    .background-shapes__sausage--cornflower-blue-filled {
      background-color: #4285f4;
      border-color: #4285f4
    }

    .background-shapes__sausage-vertical {
      background-color: #4285f4;
      border-radius: 30px;
      min-height: 60px;
      width: 60px
    }

    .background-shapes__sausage-vertical--blue-sky {
      background-color: #d7effe
    }

    .background-shapes__sausage-vertical--burning-orange {
      background-color: transparent;
      border-color: #f86734
    }

    .background-shapes__sausage-vertical--outline-green-tea {
      background-color: transparent;
      border: 20px solid #eff7cf;
      border-radius: 500px
    }

    .background-shapes__sausage-filled {
      background-color: #073042;
      border-radius: 500px;
      height: 173px;
      position: relative;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      width: 330px
    }

    .background-shapes__sausage-filled--green-tea {
      background-color: #eff7cf
    }

    .background-shapes__sausage-filled--cornflower {
      background-color: #4285f4;
      border-color: #4285f4
    }

    .background-shapes__sausage-filled--shamrock {
      background-color: #3ddc84
    }

    .background-shapes__sausage-filled--blue-sky {
      background-color: #d7effe;
      border-color: #d7effe
    }

    .background-shapes__circle {
      border: 10px solid #f86734;
      border-radius: 100%;
      height: 400px;
      position: relative;
      width: 400px
    }

    .background-shapes__circle--green-tea {
      border-color: #eff7cf
    }

    .background-shapes__circle--cornflower {
      border-color: #4285f4
    }

    .background-shapes__circle--shamrock {
      border-color: #3ddc84
    }

    .background-shapes__circle-filled {
      background-color: #f86734;
      border-radius: 100%;
      height: 400px;
      position: relative;
      width: 400px
    }

    .background-shapes__circle-filled--green-tea {
      background-color: #eff7cf
    }

    .background-shapes__circle-filled--cornflower {
      background-color: #4285f4
    }

    .background-shapes__circle-filled--primary {
      border: 1px solid #78c257;
      height: 762px;
      width: 762px
    }

    .background-shapes__circle-filled--secondary {
      background-color: #eff7cf;
      height: 180px;
      width: 180px
    }

    .background-shapes__circle-filled--brand-green {
      background-color: #3dda84
    }

    .background-shapes__circle-filled--blue-sky {
      background-color: #d7effe
    }

    .background-shapes__circle-filled--shamrock {
      background-color: #3ddc84
    }

    .background-shapes__full-circle {
      border-radius: 50%;
      height: 180px;
      position: relative;
      width: 180px
    }

    .background-shapes__full-circle--green-tea {
      background-color: #eff7cf
    }

    .background-shapes__full-circle--blue-sky {
      background-color: #d7effe
    }

    .background-shapes__full-circle--cornflower {
      background-color: #4285f4
    }

    .background-shapes__full-circle--shamrock {
      background-color: #3ddc84
    }

    .background-shapes__wave {
      --size: 180px;
      align-self: center;
      -webkit-animation: pulse-blur 4s infinite ease-in-out;
      animation: pulse-blur 4s infinite ease-in-out;
      border: 1px solid #2DCDCD;
      border-radius: 50%;
      height: var(--size);
      opacity: 0;
      position: relative;
      top: 85px;
      -webkit-transform: translate(-50%);
      transform: translate(-50%);
      -webkit-transform-origin: center;
      transform-origin: center;
      width: var(--size)
    }

    @supports (-ms-ime-align:auto) {
      .background-shapes__wave {
        -webkit-transform-origin: left;
        transform-origin: left
      }
    }

    @supports (-ms-ime-align:auto) {
      .background-shapes__wave:first-child {
        -webkit-animation-delay: .1s;
        animation-delay: .1s
      }
    }

    .background-shapes__wave:nth-child(2) {
      -webkit-animation-delay: .4s;
      animation-delay: .4s
    }

    .background-shapes__wave:nth-child(3) {
      -webkit-animation-delay: .8s;
      animation-delay: .8s
    }

    .background-shapes__wave:nth-child(4) {
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s
    }

    .background-shapes__wave:nth-child(5) {
      -webkit-animation-delay: 1.6s;
      animation-delay: 1.6s
    }

    .background-shapes__wave:nth-child(6) {
      -webkit-animation-delay: 2s;
      animation-delay: 2s
    }

    .background-shapes__wave:nth-child(7) {
      -webkit-animation-delay: 2.4s;
      animation-delay: 2.4s
    }

    .grid-space-wrap {
      padding: 96px 0
    }

    :root {
      --scroll-position: --component-position
    }

    @-webkit-keyframes pulse {
      10% {
        opacity: .1;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
      }

      50% {
        opacity: .2;
        -webkit-transform: scale(1.8);
        transform: scale(1.8)
      }

      70% {
        opacity: .1;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
      }

      to {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
      }
    }

    @keyframes pulse {
      10% {
        opacity: .1;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
      }

      50% {
        opacity: .2;
        -webkit-transform: scale(1.8);
        transform: scale(1.8)
      }

      70% {
        opacity: .1;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
      }

      to {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1)
      }
    }

    @-webkit-keyframes fadein {
      0% {
        opacity: 0
      }

      to {
        opacity: 1
      }
    }

    @keyframes fadein {
      0% {
        opacity: 0
      }

      to {
        opacity: 1
      }
    }

    @-webkit-keyframes pulse-blur {
      0% {
        opacity: 0;
        -webkit-transform: translate(-50%) scale(0);
        transform: translate(-50%) scale(0)
      }

      40% {
        opacity: 1
      }

      to {
        border-width: 2px;
        opacity: 0;
        -webkit-transform: translate(-50%) scale(1.1);
        transform: translate(-50%) scale(1.1)
      }
    }

    @keyframes pulse-blur {
      0% {
        opacity: 0;
        -webkit-transform: translate(-50%) scale(0);
        transform: translate(-50%) scale(0)
      }

      40% {
        opacity: 1
      }

      to {
        border-width: 2px;
        opacity: 0;
        -webkit-transform: translate(-50%) scale(1.1);
        transform: translate(-50%) scale(1.1)
      }
    }

    @-webkit-keyframes pulse-blur-desktop {
      0% {
        opacity: 0;
        -webkit-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0)
      }

      40% {
        opacity: 1
      }

      to {
        border-width: 2px;
        opacity: 0;
        -webkit-transform: translateY(-50%) scale(1.1);
        transform: translateY(-50%) scale(1.1)
      }
    }

    @keyframes pulse-blur-desktop {
      0% {
        opacity: 0;
        -webkit-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0)
      }

      40% {
        opacity: 1
      }

      to {
        border-width: 2px;
        opacity: 0;
        -webkit-transform: translateY(-50%) scale(1.1);
        transform: translateY(-50%) scale(1.1)
      }
    }

    @-webkit-keyframes fadeInOut {
      0% {
        opacity: 0
      }

      20% {
        opacity: 1;
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
      }

      80% {
        opacity: 1;
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
      }

      to {
        opacity: 0
      }
    }

    @keyframes fadeInOut {
      0% {
        opacity: 0
      }

      20% {
        opacity: 1;
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
      }

      80% {
        opacity: 1;
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px)
      }

      to {
        opacity: 0
      }
    }

    .cta {
      cursor: pointer;
      display: inline-block;
      font-family: "Android Euclid", Helvetica, Arial, sans-serif;
      text-decoration: none;
      width: auto
    }

    .cta>* {
      pointer-events: none
    }

    .cta--is-1 {
      background-color: #073042;
      border-radius: 32px;
      color: #fff;
      font-size: .75rem;
      font-weight: 500;
      letter-spacing: .0625rem;
      line-height: 1.5rem;
      padding: 12px 24px;
      text-transform: uppercase;
      transition: color .3s linear
    }

    .cta--is-1:active,
    .cta--is-1:focus,
    .cta--is-1:hover {
      color: #3ddc84
    }

    .cta--is-2 {
      -webkit-box-align: center;
      align-items: center;
      background-color: transparent;
      color: #073042;
      display: -webkit-inline-box;
      display: inline-flex;
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.5rem
    }

    .cta--is-2>.cta__icon {
      color: #073042;
      height: 16px;
      margin-left: 10px;
      transition: -webkit-transform .3s linear;
      transition: transform .3s linear;
      transition: transform .3s linear, -webkit-transform .3s linear;
      vertical-align: middle;
      width: 16px
    }

    .cta--is-2>.cta__external {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }

    .cta--is-2:active>.cta__icon:not(.cta__external),
    .cta--is-2:focus>.cta__icon:not(.cta__external),
    .cta--is-2:hover>.cta__icon:not(.cta__external) {
      -webkit-transform: translateX(8px);
      transform: translateX(8px)
    }

    .cta--is-2:active>.cta__icon.cta__external,
    .cta--is-2:focus>.cta__icon.cta__external,
    .cta--is-2:hover>.cta__icon.cta__external {
      -webkit-transform: translate(4px, -4px) rotate(-45deg);
      transform: translate(4px, -4px) rotate(-45deg)
    }

    .cta--is-3 {
      background-color: transparent;
      color: #000;
      font: 700 2.5rem/2.5rem "Android Euclid", Helvetica, Arial, sans-serif;
      letter-spacing: -.0625rem;
      transition: color .3s linear
    }

    .cta--is-3>.cta__icon {
      height: 24px;
      margin-left: 8px;
      transition: -webkit-transform .3s linear;
      transition: transform .3s linear;
      transition: transform .3s linear, -webkit-transform .3s linear;
      width: 24px
    }

    .cta--is-3>.cta__external {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }

    .cta--is-3:active,
    .cta--is-3:focus,
    .cta--is-3:hover {
      color: #757575
    }

    .cta--is-3:active>.cta__icon:not(.cta__external),
    .cta--is-3:focus>.cta__icon:not(.cta__external),
    .cta--is-3:hover>.cta__icon:not(.cta__external) {
      -webkit-transform: translateX(8px);
      transform: translateX(8px)
    }

    .cta--is-3:active>.cta__icon.cta__external,
    .cta--is-3:focus>.cta__icon.cta__external,
    .cta--is-3:hover>.cta__icon.cta__external {
      -webkit-transform: translateX(8px) rotate(-45deg);
      transform: translateX(8px) rotate(-45deg)
    }

    .cta--is-4 {
      background-color: transparent;
      color: #000;
      font: 400 1rem/1.5rem "Roboto", Helvetica, Arial, sans-serif;
      transition: all .3s linear
    }

    .cta--is-4 .cta__icon {
      display: none;
      height: 18px;
      margin-left: 4px;
      vertical-align: middle;
      width: 18px
    }

    .cta--is-4>.cta__external {
      color: #000;
      display: inline;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: all .3s linear
    }

    .cta--is-4:active,
    .cta--is-4:focus,
    .cta--is-4:hover {
      color: #757575
    }

    .cta--is-4:active>.cta__external,
    .cta--is-4:focus>.cta__external,
    .cta--is-4:hover>.cta__external {
      color: #757575;
      -webkit-transform: translate(4px, -4px) rotate(-45deg);
      transform: translate(4px, -4px) rotate(-45deg)
    }

    .cta--is-5,
    .cta--is-5:focus {
      background-color: #fff;
      border: 1px solid #073042;
      border-radius: 32px;
      color: #073042;
      font-size: .75rem;
      font-weight: 500;
      letter-spacing: .0625rem;
      line-height: 1.5rem;
      padding: 12px 24px;
      text-transform: uppercase;
      transition: background-color .3s ease, color .3s ease
    }

    .cta--is-5.is-active,
    .cta--is-5:hover {
      background-color: #073042;
      color: #fff
    }

    .cta--is-6 {
      background: #fff;
      border-radius: 32px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
      color: #073042;
      font-size: .75rem;
      font-weight: 500;
      letter-spacing: .0625rem;
      line-height: 1.5rem;
      padding: 12px 24px;
      text-transform: uppercase;
      transition: color .3s linear
    }

    .cta--is-6:active,
    .cta--is-6:focus,
    .cta--is-6:hover {
      color: rgba(7, 48, 66, .7)
    }

    .cta--is-video>.cta__icon {
      -webkit-transform: translateY(2px);
      transform: translateY(2px)
    }

    .cta--is-video:active>.cta__icon:not(.cta__external),
    .cta--is-video:focus>.cta__icon:not(.cta__external),
    .cta--is-video:hover>.cta__icon:not(.cta__external) {
      -webkit-transform: translate(8px, 2px);
      transform: translate(8px, 2px)
    }

    .header-default {
      --animation-delay-multiplier: .07s;
      --animation-waiting-time: .5s;
      background-color: var(--color-is-2);
      grid-template-rows: 70px;
      height: 70px;
      position: relative;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      transition: background-color .3s linear, -webkit-transform .3s cubic-bezier(.35, 0, .25, 1);
      transition: background-color .3s linear, transform .3s cubic-bezier(.35, 0, .25, 1);
      transition: background-color .3s linear, transform .3s cubic-bezier(.35, 0, .25, 1), -webkit-transform .3s cubic-bezier(.35, 0, .25, 1);
      width: 100%;
      z-index: 50
    }

    .header-default:after {
      background-color: #000;
      content: "";
      height: 0;
      left: 0;
      opacity: .5;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 100%;
      z-index: 1
    }

    .header-default--nav-open:after,
    .header-default--search-open:after {
      height: 100vh;
      opacity: .4;
      visibility: visible
    }

    .header-default--fixed {
      left: 0;
      position: fixed;
      right: 0;
      top: 0
    }

    .header-default--nav-open {
      background-color: var(--color-is-2)
    }

    .header-default--nav-open .header-default__hamburger,
    .header-default--nav-open .search-default {
      display: none
    }

    .header-default--nav-open .header-default__drawer-close {
      display: block;
      right: 0
    }

    .header-default--nav-open .header-default__drawer-close>* {
      pointer-events: none
    }

    .header-default__wrapper {
      background-color: transparent;
      height: 100%;
      position: relative;
      z-index: 10
    }

    .header-default--nav-open .header-default__wrapper,
    .header-default--search-open .header-default__wrapper {
      background-color: var(--color-is-2)
    }

    .header-default__grid {
      height: 100%;
      position: relative
    }

    .header-default__drawer {
      background-color: var(--color-is-2);
      height: 100vh;
      overflow-y: auto;
      padding-bottom: 100px;
      position: absolute;
      right: 0;
      top: 69px;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
      transition: transform .2s ease-in-out, visibility .2s ease-in-out;
      transition: transform .2s ease-in-out, visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
      visibility: hidden;
      width: 100%;
      z-index: 20
    }

    .header-default--nav-open .header-default__drawer {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      visibility: visible
    }

    .header-default__drawer-close {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: none;
      position: absolute;
      right: 16px;
      top: 20px
    }

    .header-default__drawer-close:focus>.header-default__drawer-close-icon,
    .header-default__drawer-close:hover>.header-default__drawer-close-icon {
      opacity: .7
    }

    .header-default__drawer-close-icon {
      color: var(--color-is-1);
      height: 24px;
      width: 24px
    }

    .header-default__button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      grid-row: 1;
      padding: 0
    }

    .header-default__button:focus>.header-default__button-icon,
    .header-default__button:hover>.header-default__button-icon {
      opacity: .7
    }

    .header-default__button-icon {
      height: 24px;
      width: 24px
    }

    .header-default__hamburger {
      align-self: center;
      color: var(--color-is-1);
      grid-column-start: 4;
      justify-self: flex-end;
      position: relative;
      transition: color .3s ease-in
    }

    .header-default__hamburger>* {
      pointer-events: none
    }

    .header-default__hamburger:after {
      content: "";
      height: 40px;
      left: -8px;
      position: absolute;
      top: -8px;
      width: 40px
    }

 

    .header-default__primary {
      grid-column: 1/-1;
      padding: 80px 0 104px
    }


    .header-default__primary-item .icon--svg {
      bottom: 6px;
      color: var(--color-is-6);
      position: absolute
    }

    .header-default__secondary {
      border-top: 1px solid #c6c6c6;
      grid-column: 1/-1;
      padding-top: 40px
    }

    .header-default__secondary-item {
      margin-bottom: 24px
    }

    .header-default__secondary-item.header-default__item--active {
      padding-left: 12px
    }

    .header-default__secondary-item>.cta {
      color: var(--color-is-1);
      font: 400 .875rem/1.5rem "Android Euclid", Helvetica, Arial, sans-serif;
      white-space: normal
    }

    .header-default__secondary-item:active>.cta,
    .header-default__secondary-item:focus>.cta,
    .header-default__secondary-item:hover>.cta {
      opacity: .7
    }

    .header-default__secondary-item:active .cta__icon:not(.cta__external),
    .header-default__secondary-item:focus .cta__icon:not(.cta__external),
    .header-default__secondary-item:hover .cta__icon:not(.cta__external) {
      -webkit-transform: translateX(4px);
      transform: translateX(4px)
    }

    .header-default__secondary-item:active .cta__icon.cta__external,
    .header-default__secondary-item:focus .cta__icon.cta__external,
    .header-default__secondary-item:hover .cta__icon.cta__external {
      -webkit-transform: translateX(4px) rotate(-45deg);
      transform: translateX(4px) rotate(-45deg)
    }

    .header-default__secondary .icon--svg {
      color: var(--color-is-6);
      vertical-align: bottom
    }

    .header-default__language {
      grid-column: 1/-1
    }

    .header-default--transparent {
      background-color: transparent;
      position: fixed;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
    }

    .header-default--transparent .header-default__logo-icon {
      --wipe-progress: 0%;
      -webkit-clip-path: polygon(100% 0, 0 0, 0 var(--wipe-progress), 100% var(--wipe-progress));
      clip-path: polygon(100% 0, 0 0, 0 var(--wipe-progress), 100% var(--wipe-progress));
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
      transition: fill .3s ease-in, -webkit-clip-path 2s ease var(--animation-waiting-time), -webkit-transform 1.5s ease var(--animation-waiting-time);
      transition: fill .3s ease-in, clip-path 2s ease var(--animation-waiting-time), transform 1.5s ease var(--animation-waiting-time);
      transition: fill .3s ease-in, clip-path 2s ease var(--animation-waiting-time), transform 1.5s ease var(--animation-waiting-time), -webkit-clip-path 2s ease var(--animation-waiting-time), -webkit-transform 1.5s ease var(--animation-waiting-time)
    }

    .footer-default,
    .header-default--in-transition {
      background-color: var(--color-is-2)
    }

    .footer-default {
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      padding-top: 60px;
      position: relative;
      z-index: 30
    }

    .footer-default__logo {
      grid-column: 1/-1;
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px)
    }

    .footer-default__logo-icon {
      color: #000;
      height: 17px;
      width: 110px
    }

    .footer-default__nav {
      -webkit-box-align: start;
      align-items: flex-start;
      display: grid;
      grid-column: 1/-1;
      grid-template-columns: 1fr;
      margin: 0;
      padding: 0 0 60px
    }

    .footer-default__item {
      -webkit-box-align: center;
      align-items: center;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-flow: column;
      -webkit-box-pack: center;
      justify-content: center
    }

    .footer-default__cross {
      box-sizing: content-box;
      color: var(--color-is-1);
      display: block;
      height: 12px;
      min-width: 20px;
      padding: 0 5px;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      transition: -webkit-transform .5s;
      transition: transform .5s;
      transition: transform .5s, -webkit-transform .5s;
      width: 12px
    }

    .footer-default__button {
      background-color: var(--color-is-2);
      border: 1px solid var(--color-is-2);
      border-bottom-color: #c6c6c6;
      color: var(--color-is-1);
      display: -webkit-box;
      display: flex;
      font: 500 .75rem/1rem "Android Euclid", Helvetica, Arial, sans-serif;
      -webkit-box-pack: justify;
      justify-content: space-between;
      letter-spacing: .0625rem;
      padding: 40px 5px 8px 0;
      pointer-events: none;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%
    }

    .footer-default__title {
      cursor: pointer;
      width: 100%
    }

    .footer-default__title[aria-expanded=false]+.footer-default__nav-subitem {
      max-height: 0;
      opacity: 0;
      padding: 0;
      transition: opacity 1.5s, visibility 1.5s, max-height .5s, padding .5s;
      visibility: hidden
    }

    .footer-default__title[aria-expanded=true] .footer-default__cross {
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg)
    }

    .footer-default__nav-subitem {
      max-height: 750px;
      opacity: 1;
      overflow: hidden;
      padding: 20px 0 0;
      position: relative;
      transition: opacity 1s, visibility 1s, max-height .75s ease-in, padding .75s;
      width: 100%
    }

    .footer-default__nav-subitem .cta {
      display: inline-block;
      padding: 8px 0
    }

    .footer-default__nav-list>.cta {
      color: var(--color-is-1);
      white-space: normal
    }

    .footer-default__nav-list>.cta>.cta__external {
      color: var(--color-is-1)
    }

    .footer-default__nav-list:last-child>.cta {
      padding-bottom: 8px
    }

    .footer-default__colophon {
      background-color: var(--color-is-2);
      padding: 40px 16px;
      width: 100%
    }

    .footer-default__colophon .language-selector {
      display: inline-block
    }

    .footer-default__links {
      -webkit-box-align: center;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 auto
    }

    .footer-default__policy {
      -webkit-box-align: center;
      align-items: center;
      grid-column: 1;
      grid-row: 2
    }

    .footer-default__policy .language-selector,
    .footer-default__policy>.cta {
      margin: 24px 24px 0 0
    }

    .footer-default__nav-list>.cta:active,
    .footer-default__nav-list>.cta:active>.cta__external,
    .footer-default__nav-list>.cta:focus,
    .footer-default__nav-list>.cta:focus>.cta__external,
    .footer-default__nav-list>.cta:hover,
    .footer-default__nav-list>.cta:hover>.cta__external,
    .footer-default__policy>.cta:active,
    .footer-default__policy>.cta:active>.cta__external,
    .footer-default__policy>.cta:focus,
    .footer-default__policy>.cta:focus>.cta__external,
    .footer-default__policy>.cta:hover,
    .footer-default__policy>.cta:hover>.cta__external {
      color: #757575
    }

    .footer-default__policy>.cta {
      color: var(--color-is-1)
    }

    .footer-default__policy>.cta>.icon--svg {
      display: none
    }

    .footer-default__footnote {
      color: var(--color-is-1);
      font: .75rem/1.7 "Roboto", Helvetica, Arial, sans-serif;
      margin: 16px 0 0;
      width: 80%
    }

    .footer-default__footnote p {
      margin: 0
    }

    .search-default {
      -webkit-box-align: center;
      align-items: center;
      display: -webkit-box;
      display: flex;
      grid-row: 1;
      height: 100%;
      margin: 0;
      overflow: hidden;
      position: absolute;
      right: 30px;
      width: 30px
    }

    .search-default--open {
      grid-column: 1/6;
      overflow: initial;
      padding-top: 2px;
      position: absolute;
      right: 0;
      width: 100%
    }

    .search-default__label {
      display: none
    }

    .search-default__icon {
      color: var(--color-is-1);
      height: 24px;
      transition: color .3s ease-in;
      width: 24px
    }

    .search-default__close,
    .search-default__open {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: transparent;
      border: 0;
      cursor: pointer;
      position: relative;
      right: 0;
      transition: color .3s linear;
      width: 34px
    }

    .search-default__close>*,
    .search-default__open>* {
      pointer-events: none
    }

    .search-default__close:after,
    .search-default__open:after {
      content: "";
      height: 40px;
      left: -8px;
      position: absolute;
      top: -8px;
      width: 40px
    }

    .search-default__close:focus,
    .search-default__close:hover,
    .search-default__open:focus,
    .search-default__open:hover {
      opacity: .7
    }

    .search-default__close,
    .search-default__input {
      opacity: 0;
      transition: opacity .3s ease-in;
      visibility: hidden
    }

    .search-default--open .search-default__close,
    .search-default--open .search-default__input {
      opacity: 1;
      visibility: visible
    }

    .search-default--open .search-default__close:focus,
    .search-default--open .search-default__close:hover,
    .search-default--open .search-default__input:focus,
    .search-default--open .search-default__input:hover {
      opacity: .7
    }

    .search-default__input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid var(--color-is-1);
      border-radius: 0;
      color: var(--color-is-1);
      font-family: "Android Euclid", Helvetica, Arial, sans-serif;
      height: 24px;
      margin: 0 13px;
      outline: none;
      padding: 5px;
      width: 100%
    }

    .search-default__input::-webkit-search-cancel-button,
    .search-default__input::-webkit-search-decoration,
    .search-default__input::-webkit-search-results-button,
    .search-default__input::-webkit-search-results-decoration {
      display: none
    }

    .search-default__open:focus>.search-default__icon,
    .search-default__open:hover>.search-default__icon {
      color: var(--color-is-1)
    }

    .language-selector {
      display: table;
      position: relative
    }

    .language-selector:focus .language-selector__globe,
    .language-selector:focus .language-selector__icon,
    .language-selector:hover .language-selector__globe,
    .language-selector:hover .language-selector__icon {
      color: #757575
    }

    .language-selector__globe {
      color: var(--color-is-1);
      height: 16px;
      vertical-align: sub;
      width: 16px
    }

    .language-selector__select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      border: 0;
      box-sizing: content-box;
      color: var(--color-is-1);
      cursor: pointer;
      font: 500 1rem/1.4 "Roboto", Helvetica, Arial, sans-serif;
      line-height: 1.5rem;
      margin: 0 8px 0 5px;
      max-width: 100px;
      padding-right: 21px
    }

    .language-selector__select:focus,
    .language-selector__select:hover {
      color: #757575
    }

    .footer-default .language-selector__select {
      max-width: 100px
    }

    .language-selector__select:focus+.language-selector__icon,
    .language-selector__select:hover+.language-selector__icon {
      fill: #757575
    }

    .language-selector__icon {
      color: var(--color-is-1);
      height: 24px;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 0;
      width: 10px
    }

    .social-network {
      display: -webkit-box;
      display: flex;
      padding: 0
    }

    .social-network__item {
      height: 24px;
      margin: 0 30px 0 0;
      width: 24px
    }

    .social-network__item:last-child {
      margin-right: 0
    }

    .social-network__icon {
      color: var(--color-is-6);
      height: 24px;
      width: 24px
    }

    .social-network__link {
      display: block
    }

    .social-network__link>* {
      pointer-events: none
    }

    .social-network__link:focus>.social-network__icon,
    .social-network__link:hover>.social-network__icon {
      color: #757575
    }

    main {
      opacity: 0;
      transition: opacity .6s ease .1s
    }

    cloud-image {
      display: block;
      min-height: 10px
    }

    cloud-image.is-loaded {
      min-height: auto
    }

    @media only screen and (min-width:600px) {
      :root {
        --font-size-heading-1: 6.75rem;
        --font-size-heading-2: 4.5rem;
        --font-size-heading-3: 3.5rem;
        --font-size-heading-4: 3rem;
        --font-size-heading-5: 2.5rem;
        --font-size-heading-6: 2rem;
        --font-size-heading-7: 1.25rem;
        --eyebrow: 0.875rem;
        --copy-size-l: 2rem;
        --copy-size-m: 1.25rem
      }

      [lang=de],
      [lang=es],
      [lang=fr],
      [lang=pt],
      [lang=ru] {
        --font-size-heading-1: 4.5rem;
        --font-size-heading-2: 3.5rem;
        --font-size-heading-3: 3rem;
        --font-size-heading-4: 2.5rem;
        --font-size-heading-5: 2rem;
        --font-size-heading-6: 1.5rem;
        --font-size-heading-7: 1.25rem
      }

      .is-1,
      .is-2,
      .is-3,
      .is-4,
      .is-5,
      .is-6 {
        margin-bottom: 40px
      }

      .is-1 {
        line-height: 6.75rem
      }

      .is-2 {
        letter-spacing: -.125rem
      }

      .is-7 {
        margin-bottom: 24px
      }

      .is-3-to-2 {
        font-size: var(--font-size-heading-2);
        letter-spacing: -.125rem;
        line-height: var(--font-size-heading-2);
        margin-bottom: 40px
      }

      .is-copy-m {
        letter-spacing: 0;
        line-height: 2rem
      }

      .is-masthead {
        grid-column: 3/11
      }

      .is-wide-masthead {
        grid-column: 1/9
      }

      p {
        margin: 0 0 32px
      }
      .grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-column-gap: 2.27%
      }

      body:after {
        content: "medium"
      }

      .is-video-frame {
        width: 280px
      }

      .background-shapes__circle-filled--primary {
        height: 1000px;
        width: 1000px
      }

      .background-shapes__circle-filled--secondary {
        height: 260px;
        width: 260px
      }

      .background-shapes__wave {
        top: -85px
      }

      .grid-space-wrap {
        padding: 128px 0
      }

      .cta--is-3 {
        font: 700 3rem/3rem "Android Euclid", Helvetica, Arial, sans-serif
      }

      .cta--is-4 {
        font: 400 1rem/1.5rem "Roboto", Helvetica, Arial, sans-serif
      }

      .header-default__drawer {
        overflow-y: auto
      }

      .header-default__hamburger {
        grid-column-end: -1
      }

      .header-default--search-open .header-default__logo {
        opacity: 1;
        visibility: visible
      }

      .header-default__primary-item {
        margin-left: -32px;
        padding-left: 32px
      }

      .footer-default {
        padding-top: 80px
      }

      .footer-default__button {
        font-size: .875rem;
        line-height: 1rem;
        padding-top: 48px
      }

      .footer-default__nav-subitem .cta {
        padding: 12px 0
      }

      .footer-default__colophon {
        padding: 40px 32px
      }

      .footer-default__links .social-network {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: inherit;
        justify-content: inherit;
        margin-bottom: 32px;
        text-align: left;
        width: 100%
      }

      .footer-default__policy .language-selector,
      .footer-default__policy>.cta {
        margin: 0 24px 0 0
      }

      .footer-default__footnote {
        width: 100%
      }

      .search-default {
        grid-column-end: 12;
        grid-column-start: 12;
        justify-self: start;
        margin-left: -20px;
        position: relative;
        right: 0
      }

      .search-default--open {
        grid-column: 7/-1;
        margin-left: 0
      }

      .social-network {
        -webkit-box-pack: end;
        justify-content: flex-end
      }
    }

    @media only screen and (min-width:1024px) {
      :root {
        --font-size-heading-1: 8rem;
        --font-size-heading-2: 5.5rem;
        --font-size-heading-3: 4.5rem;
        --font-size-heading-4: 3.5rem;
        --font-size-scaling-2: 6.11111vw;
        --font-size-scaling-3: 5vw
      }

      [lang=de],
      [lang=es],
      [lang=fr],
      [lang=pt],
      [lang=ru] {
        --font-size-heading-1: 5.5rem;
        --font-size-heading-2: 4.5rem;
        --font-size-heading-3: 3.5rem;
        --font-size-heading-4: 2.5rem;
        --font-size-scaling-2: 5vw;
        --font-size-scaling-3: 3.88889vw
      }

      .is-1,
      .is-2,
      .is-3,
      .is-4,
      .is-5,
      .is-6 {
        margin-bottom: 48px
      }

      .is-3 {
        letter-spacing: -.125rem
      }

      .is-3-to-2 {
        font-size: var(--font-size-heading-2);
        line-height: var(--font-size-heading-2);
        margin-bottom: 0
      }

      .is-copy-l {
        line-height: 3.5rem
      }

      .is-link {
        font-size: 1rem;
        line-height: 1.625rem
      }

      .is-masthead {
        grid-column: 2/9
      }

      .is-masthead:not(.is-masthead--vertical) {
        display: grid;
        grid-column: -1/1;
        grid-column-gap: 2.19%;
        grid-template-columns: repeat(12, 1fr);
        margin: 0
      }

      .is-masthead:not(.is-masthead--vertical) .is-eyebrow,
      .is-masthead:not(.is-masthead--vertical) .is-heading {
        grid-column: 2/7
      }

      .is-masthead:not(.is-masthead--vertical) .is-body-wrapper {
        grid-column: 8/12
      }

      .is-wide-masthead {
        grid-column: 2/9
      }

      .is-wide-masthead:not(.is-wide-masthead--vertical) {
        display: grid;
        grid-column: -1/1;
        grid-column-gap: 2.19%;
        grid-template-columns: repeat(12, 1fr);
        margin: 0
      }

      .is-wide-masthead:not(.is-wide-masthead--vertical) .is-eyebrow,
      .is-wide-masthead:not(.is-wide-masthead--vertical) .is-heading {
        grid-column: 1/7
      }

      .is-wide-masthead:not(.is-wide-masthead--vertical) .is-body-wrapper {
        grid-column: 8/-1
      }

      p {
        line-height: 1.625rem
      }

      .grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-column-gap: 2.19%
      }

      body {
        font-size: 1rem
      }

      body:after {
        content: "large"
      }

      .background-shapes__sausage-vertical {
        border-radius: 33px;
        min-height: 66px;
        width: 66px
      }

      .background-shapes__circle-filled--primary {
        height: 1206px;
        width: 1206px
      }

      .background-shapes__wave {
        align-self: flex-start;
        -webkit-animation: pulse-blur-desktop 5s infinite ease-in-out;
        animation: pulse-blur-desktop 5s infinite ease-in-out;
        height: var(--size);
        justify-self: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
      }

      @supports (-ms-ime-align:auto) {
        .background-shapes__wave {
          -webkit-transform-origin: top;
          transform-origin: top
        }
      }

      .grid-space-wrap {
        padding: 160px 0
      }

      .cta--is-3 {
        font: 500 .875rem/1.5rem "Android Euclid", Helvetica, Arial, sans-serif;
        letter-spacing: 0
      }

      .cta--is-3>.cta__icon {
        display: none
      }

      .cta--is-4 {
        font: 400 1rem/1.5rem "Roboto", Helvetica, Arial, sans-serif
      }

      .header-default__button,
      .header-default__drawer {
        display: none
      }

      .header-default__bar {
        display: block;
        height: 100%;
        position: absolute;
        right: 70px;
        width: auto
      }

      .header-default--search-open .header-default__bar {
        display: none;
        transition: opacity .2s linear, visibility .2s linear;
        visibility: hidden
      }

      .header-default__item--active {
        box-shadow: inset 0 4px 0 0
      }

      .header-default__primary {
        display: -webkit-box;
        display: flex;
        height: 100%;
        padding: 0;
        width: 100%
      }

      .header-default__primary-item {
        height: 100%;
        margin: 0 40px 0 0;
        padding: 0
      }

      .header-default__primary-item:last-child {
        margin: 0
      }

      .header-default__primary-item>.cta {
        -webkit-box-align: center;
        align-items: center;
        display: -webkit-box;
        display: flex;
        height: 100%;
        padding: 0;
        position: inherit
      }

      .header-default--transparent .header-default__primary-item,
      .header-default--transparent .search-default {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        transition: opacity 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time)), -webkit-transform 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time));
        transition: transform 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time)), opacity 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time));
        transition: transform 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time)), opacity 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time)), -webkit-transform 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time))
      }

      .header-default--transparent .header-default__item--active {
        transition: color .3s ease-in, opacity 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time)), -webkit-transform 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time));
        transition: color .3s ease-in, transform 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time)), opacity 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time));
        transition: color .3s ease-in, transform 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time)), opacity 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time)), -webkit-transform 1s ease calc((var(--item-order) * var(--animation-delay-multiplier)) + var(--animation-waiting-time))
      }

      .footer-default .cta--has-icon {
        white-space: nowrap
      }

      .footer-default .grid {
        box-sizing: content-box
      }

      .footer-default__logo {
        display: block;
        margin-bottom: 56px
      }

      .footer-default__nav {
        border-bottom: 1px solid #c6c6c6;
        grid-gap: 30px;
        grid-template-columns: repeat(5, 1fr);
        padding: 0 0 80px
      }

      .footer-default__cross {
        display: none
      }

      .footer-default__button {
        bottom: 0;
        padding: 0 0 8px;
        position: absolute
      }

      .footer-default__title {
        cursor: auto;
        height: 25px;
        position: relative
      }

      .footer-default__title[aria-expanded=false]+.footer-default__nav-subitem {
        max-height: none;
        opacity: 1;
        padding-top: 32px;
        visibility: visible
      }

      .footer-default__nav-subitem {
        overflow: visible
      }

      .footer-default__nav-subitem .cta {
        margin-bottom: 16px;
        padding: 0 26px 0 0;
        position: relative
      }

      .footer-default__nav-subitem .cta__icon {
        bottom: 3px;
        position: absolute
      }

      .footer-default__nav-list:last-child>.cta {
        margin: 0;
        padding: 0
      }

      .footer-default__colophon {
        padding: 40px 80px
      }

      .footer-default__links {
        -webkit-box-align: start;
        align-items: start;
        grid-auto-flow: dense
      }

      .footer-default__links .social-network {
        grid-row: 2;
        -webkit-box-pack: end;
        justify-content: flex-end;
        margin: 0
      }

      .footer-default__footnote {
        padding-right: 40px
      }

      .search-default {
        grid-column-end: -1;
        grid-column-start: 12;
        justify-self: end;
        margin-left: 0
      }

      .search-default--open {
        grid-column: 7/-1;
        position: relative;
        width: 100%
      }

      .search-default__close,
      .search-default__open {
        background: transparent
      }
    }

    @media only screen and (min-width:1024px) and (max-width:1279px) {
      .footer-default .grid {
        margin: 0 2%
      }

      .footer-default__nav-subitem .cta {
        font-size: .875rem
      }

      .footer-default__colophon {
        padding: 40px 2%
      }

      .footer-default__policy>.cta {
        font-size: .875rem
      }
    }

    @media only screen and (min-width:1280px) {
      .footer-default__links {
        max-width: 1280px
      }
    }

    @media only screen and (min-width:1440px) {

      :root,
      [lang=de],
      [lang=es],
      [lang=fr],
      [lang=pt],
      [lang=ru] {
        --font-size-scaling-2: var(--font-size-heading-2);
        --font-size-scaling-3: var(--font-size-heading-3)
      }
      body:after {
        content: "extra-large"
      }
    }

    @media screen and (orientation:portrait) {
      body:before {
        content: "portrait";
        display: none
      }
    }

    @media screen and (inverted-colors:inverted) {

      img,
      video {
        -webkit-filter: invert(1);
        filter: invert(1)
      }
    }

    @media (prefers-reduced-motion:reduce) {
      .background-shapes--parallax {
        -webkit-transform: none;
        transform: none
      }

      .background-shapes__wave {
        -webkit-animation-duration: 1ms;
        animation-duration: 1ms;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        transition-duration: 1ms
      }

      .header-default--transparent .header-default__logo-icon,
      .header-default--transparent .header-default__primary-item,
      .header-default--transparent .search-default,
      .header-default__drawer {
        transition: none
      }
    }