 

  .content-dark:after,.content-dark:before,.content-dark__image,.content-horizontal:after,.content-horizontal__shapes-wrapper {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
  
  .content-dark {
    grid-template-rows: 96px auto auto auto auto;
    position: relative;
  }
  
  .content-dark:before {
    background-color: var(--color-is-2);
    height: 100%;
  }
  
  .content-dark:after,.content-dark:before {
    content: "";
    grid-area: 1/1/-1/-1;
    z-index: -1;
  }
  
  .content-dark:after {
    background-color: var(--color-is-7);
    height: calc(100% - 175px);
  }
  
  .content-dark__icon {
    grid-column: 1/-1;
    grid-row: 2;
    height: 30px;
    margin-bottom: 17px;
    width: 30px;
  }
  
  .content-dark__heading {
    grid-column: 1/-1;
    grid-row: 3;
  }
  
  .content-dark__body,.content-dark__heading.is-3 {
    color: var(--color-is-1);
  }
  
  .content-dark__masthead {
    grid-column: 1/-1;
    grid-row: 4;
  }
  
  .content-dark__body {
    display: none;
  }
  
  .content-dark__image {
    grid-column: 1/-1;
    grid-row: 5;
    margin-top: 32px;
    text-align: center;
  }
  
  .content-dark__image--dark {
    opacity: 0;
    visibility: hidden;
  }
  
  .content-dark__image--light,body.theme--dark .content-dark__image--dark {
    opacity: 1;
    visibility: visible;
  }
  
  body.theme--dark .content-dark__image--light {
    opacity: 0;
    visibility: hidden;
  }
  
  .content-dark__image img {
    width: 100%;
  }
  
  .content-dark .accordion__item-body,.content-dark .accordion__item-button {
    color: var(--color-is-1);
  }
  
  .content-horizontal {
    grid-template-rows: 96px auto auto auto auto 96px;
    position: relative;
  }
  
  .content-horizontal:after,.content-horizontal__shapes-wrapper {
    grid-area: 1/1/-1/-1;
    height: 100%;
  }
  
  .content-horizontal__shapes-wrapper {
    grid-row: 4;
    position: relative;
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
    z-index: -1;
  }
  
  .content-horizontal .accordion__item-button>* {
    pointer-events: none;
  }
  
  .content-horizontal .accordion__item-body,.content-horizontal .accordion__item-button {
    color: var(--color-is-1);
  }
  
  .content-horizontal .accordion__item-button {
    padding: 0;
  }
  
  .content-horizontal .accordion__item-content p {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  
  .content-horizontal--secondary:after {
    background-color: var(--color-is-5);
    content: "";
    z-index: -10;
  }
  
  .content-horizontal--secondary .accordion__item-body,.content-horizontal--secondary .accordion__item-button {
    color: #fff;
  }
  
  .content-horizontal__eyebrow {
    grid-column: 1/-1;
    grid-row: 2;
  }
  
  .content-horizontal__eyebrow>.is-eyebrow {
    color: var(--color-is-1);
  }
  
  .content-horizontal--secondary .content-horizontal__eyebrow>.is-eyebrow {
    color: #fff;
  }
  
  .content-horizontal__icon {
    height: 31px;
    margin-bottom: 16px;
    width: 28px;
  }
  
  .content-horizontal--secondary .content-horizontal__icon {
    color: #fff;
  }
  
  .content-horizontal__body,.content-horizontal__eyebrow,.content-horizontal__heading,.content-horizontal__image,.content-horizontal__video {
    grid-column: 1/-1;
  }
  
  .content-horizontal__heading {
    grid-row: 3;
    margin-bottom: 32px;
  }
  
  .content-horizontal__heading.is-3 {
    color: var(--color-is-1);
  }
  
  .content-horizontal--secondary .content-horizontal__heading.is-3.is-3 {
    color: #fff;
  }
  
  .content-horizontal__image,.content-horizontal__video {
    grid-row: 4;
    margin-bottom: 64px;
    margin-top: 32px;
    width: 100%;
  }
  
  .content-horizontal--full-bleed .content-horizontal__image,.content-horizontal--full-bleed .content-horizontal__video {
    grid-column: 3/5;
    width: calc(100% + 16px);
  }
  
  .content-horizontal__video {
    transition: visibility .3s ease-in .3s;
  }
  
  .content-horizontal__video--light {
    opacity: 1;
    visibility: visible;
  }
  
  .theme--dark .content-horizontal__video--light {
    opacity: 0;
    visibility: hidden;
  }
  
  .content-horizontal__video--dark {
    opacity: 0;
    top: 0;
    visibility: hidden;
  }
  
  .content-horizontal__image--light,.theme--dark .content-horizontal__video--dark {
    opacity: 1;
    visibility: visible;
  }
  
  .content-horizontal__image--dark,.theme--dark .content-horizontal__image--light {
    opacity: 0;
    visibility: hidden;
  }
  
  .theme--dark .content-horizontal__image--dark {
    opacity: 1;
    visibility: visible;
  }
  
  .content-horizontal__image img {
    width: 100%;
  }
  
  .content-horizontal__body {
    grid-row: 5;
    z-index: 10;
  }
  
  .content-horizontal__copy {
    color: var(--color-is-1);
    font-size: 1.125rem;
    line-height: 2rem;
  }
  
  .content-horizontal--secondary .content-horizontal__copy {
    color: #fff;
  }
  
  @supports (-ms-ime-align:auto) {
    .content-horizontal__shapes-wrapper {
      z-index: 0;
    }
  
    .content-horizontal__body,  .content-horizontal__eyebrow,  .content-horizontal__heading,  .content-horizontal__image {
      position: relative;
      z-index: 1;
    }
  }
  
  
  main {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  
  main:after {
    content: "loaded";
    display: none;
  }
  
  @media only screen and (min-width:600px) {
    .content-horizontal__shapes-wrapper {
      grid-row: 1/-1;
      overflow: hidden;
      -webkit-transform: translateY(27px);
      transform: translateY(27px);
    }
  
    .content-horizontal .accordion__item-head {
      display: none;
    }
  
    .content-horizontal .accordion__item-content p {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  
    .content-horizontal--secondary {
      grid-template-rows: 128px auto auto auto auto 128px;
    }
  
    .content-horizontal--full-bleed .accordion__item-content {
      padding: 0;
    }
  
    .content-horizontal__body,  .content-horizontal__eyebrow,  .content-horizontal__heading {
      grid-column: 3/-3;
    }
  
    .content-horizontal__image,  .content-horizontal__video {
      margin-bottom: 80px;
      margin-top: 40px;
    }
  
    .content-horizontal--full-bleed .content-horizontal__image,  .content-horizontal--full-bleed .content-horizontal__video {
      grid-column: 6/13;
      grid-row: 5;
      margin-bottom: 0;
      margin-top: 83px;
      width: calc(100% + 32px);
    }
  
    .content-horizontal--full-bleed .content-horizontal__body {
      grid-row: 4;
      margin: 0;
    }
  
    .content-horizontal__copy {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  
    .cta-block {
      padding: 33px 0 128px;
    }
  
    .cta-block__wrapper {
      -webkit-box-pack: center;
      justify-content: center;
    }
  
    .cta-grid {
      grid-template-rows: 120px [eyebrow-icon] auto [heading] auto [copy] auto 96px [stack] auto 141px;
    }
  
    .cta-grid__icon {
      height: 24px;
      width: 172px;
    }
  
    .cta-grid__eyebrow-icon,  .cta-grid__heading {
      grid-column: 2/span 10;
    }
  
    .cta-grid__heading {
      margin-bottom: 42px;
    }
  
    .cta-grid__copy {
      grid-column: 2/span 8;
    }
  
    .feature-list-default {
      grid-template-rows: 0 128px auto auto 128px 64px auto 128px;
    }
  
    .feature-list-default:after {
      border-radius: 0 0 40px 40px;
      grid-area: 2/2/6/-2;
    }
  
    .feature-list-default__heading {
      grid-column: 3/10;
      padding: 0;
    }
  
    .feature-list-default__copy {
      grid-column: 3/11;
      padding: 0;
    }
  
    .feature-list-default__component-wrapper {
      grid-column: 2/-2;
    }
  }
  
  @media only screen and (min-width:1024px) {
  
    .content-horizontal__shapes-wrapper {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    .content-horizontal--secondary {
      grid-template-rows: 160px auto auto auto 160px;
    }
  
    .content-horizontal--full-bleed {
      grid-template-rows: 160px auto auto auto auto 0;
    }
  
    .content-horizontal__eyebrow {
      grid-column: 2/7;
    }
  
    .content-horizontal__heading {
      grid-column: 2/7;
      margin-bottom: 48px;
    }
  
    .content-horizontal--full-bleed .content-horizontal__heading {
      margin-bottom: 64px;
    }
  
    .content-horizontal__image,  .content-horizontal__video {
      grid-column: 4/10;
      margin: 0;
    }
  
    .content-horizontal--full-bleed .content-horizontal__image,  .content-horizontal--full-bleed .content-horizontal__video {
      grid-column: 5/9;
      grid-row: 4;
      margin-top: 0;
      text-align: center;
      width: 100%;
    }
  
    .content-horizontal__image img {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
    }
  
    .content-horizontal--full-bleed .content-horizontal__image img {
      width: 70%;
    }
  
    .content-horizontal__body {
      grid-column: 8/12;
      grid-row: 3;
    }
  
    .content-horizontal--full-bleed .content-horizontal__body {
      grid-row: 3;
      margin-bottom: 64px;
    }
  }
  
  .background-shapes__190b7b95f131c675ee34826639b3025b {
    background-color: var(--color-is-4);
    border: none;
    grid-area: topleft;
    height: 500px;
    transform: translate(-30%, 0%);
    width: 500px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__190b7b95f131c675ee34826639b3025b {
        grid-area: topright;
        height: 475px;
        transform: translate(2%, 58%);
        width: 475px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__190b7b95f131c675ee34826639b3025b {
        height: 735px;
        transform: translate(-31%, 0%);
        width: 735px;
    }
  }
  
  @media only screen and (min-width:1440px) {
    .background-shapes__190b7b95f131c675ee34826639b3025b {
        transform: translate(-27%, 0%);
    }
  }
  
  .background-shapes__e0e72b0022705389f55cc8deb7102759 {
    grid-area: topleft;
    height: 242px;
    width: 242px;
    transform: translate(0, 0);
    align-self: center;
    justify-self: center;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__e0e72b0022705389f55cc8deb7102759 {
        height: 284px;
        width: 284px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__e0e72b0022705389f55cc8deb7102759 {
        height: 300px;
        width: 300px;
    }
  }
  
  .background-shapes__775099484398eccae696180c6b213915 {
    border-color: #4285F4;
    grid-area: topright;
    height: 410px;
    transform: translate(-462px, 30px);
    width: 614px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__775099484398eccae696180c6b213915 {
        grid-area: topleft;
        height: 580px;
        transform: translate(-572px, 70px);
        width: 1000px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__775099484398eccae696180c6b213915 {
        border-width: 20px;
        height: 650px;
        transform: translate(-690px, 30px);
        width: 1080px;
    }
  }
  
  .background-shapes__fd8abd547e4cf84d0024a57c44a8c23e {
    background-color: var(--color-is-4);
    border: none;
    grid-area: topleft;
    transform: translate(-65px, 50px);
    height: 328px;
    width: 328px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__fd8abd547e4cf84d0024a57c44a8c23e {
        height: 463px;
        transform: translate(-90px, 80px);
        width: 463px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__fd8abd547e4cf84d0024a57c44a8c23e {
        height: 523px;
        transform: translate(-120px, 50px);
        width: 523px;
    }
  }
  
  .background-shapes__689af4927bd91cad09c438a7f2dc1dbb {
    border-color: var(--color-is-12);
    grid-area: topleft;
    height: 642px;
    transform: translate(-392px, -40px);
    width: 864px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__689af4927bd91cad09c438a7f2dc1dbb {
        height: 642px;
        transform: translate(-392px, -40px);
        width: 1124px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__689af4927bd91cad09c438a7f2dc1dbb {
        border-width: 20px;
        height: 765px;
        transform: translate(-500px, 80px);
        width: 1640px;
    }
  }
  
  .background-shapes__900d2c2f0a788fef4a53bcb07cf2ce28 {
    border-width: 1px;
    grid-area: middleleft;
    --size: 724px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__900d2c2f0a788fef4a53bcb07cf2ce28 {
        grid-area: bottomleft;
        --size: 1086px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__900d2c2f0a788fef4a53bcb07cf2ce28 {
        grid-area: topcenter;
        --size: 1523px;
    }
  }
  
  .background-shapes__52e7935e531e3f39061d373c08a8baae {
    border-width: 1px;
    grid-area: middleleft;
    --size: 488px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__52e7935e531e3f39061d373c08a8baae {
        grid-area: bottomleft;
        --size: 732px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__52e7935e531e3f39061d373c08a8baae {
        grid-area: topcenter;
        --size: 1025px;
    }
  }
  
  .background-shapes__3fdcd2269bd3bb13fe6921c4e81e9551 {
    border-width: 1px;
    grid-area: middleleft;
    --size: 350px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__3fdcd2269bd3bb13fe6921c4e81e9551 {
        grid-area: bottomleft;
        --size: 525px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__3fdcd2269bd3bb13fe6921c4e81e9551 {
        grid-area: topcenter;
        --size: 735px;
    }
  }
  
  .background-shapes__ba7c34877a673ea9f7f03636f930a4ae {
    grid-area: middleleft;
    --size: 271px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__ba7c34877a673ea9f7f03636f930a4ae {
        grid-area: bottomleft;
        --size: 406px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__ba7c34877a673ea9f7f03636f930a4ae {
        grid-area: topcenter;
        --size: 569px;
    }
  }
  
  .background-shapes__74d07b08a3951435f54f69bf25ff9415 {
    grid-area: middleleft;
    --size: 204px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__74d07b08a3951435f54f69bf25ff9415 {
        grid-area: bottomleft;
        --size: 306px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__74d07b08a3951435f54f69bf25ff9415 {
        grid-area: topcenter;
        --size: 429px;
    }
  }
  
  .background-shapes__125f786b58e2e3d9ba8828ecacf5cd31 {
    grid-area: middleleft;
    --size: 158px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__125f786b58e2e3d9ba8828ecacf5cd31 {
        grid-area: bottomleft;
        --size: 237px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__125f786b58e2e3d9ba8828ecacf5cd31 {
        grid-area: topcenter;
        --size: 331px;
    }
  }
  
  .background-shapes__1e7e705383f9c8c7b0ad743747ae330c {
    grid-area: middleleft;
    --size: 131px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__1e7e705383f9c8c7b0ad743747ae330c {
        grid-area: bottomleft;
        --size: 196px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__1e7e705383f9c8c7b0ad743747ae330c {
        grid-area: topcenter;
        --size: 275px;
    }
  }
  
  .background-shapes__5adf9fde086e8f6d9ff3e5a1192720cf {
    display: none;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__5adf9fde086e8f6d9ff3e5a1192720cf {
        display: none;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__5adf9fde086e8f6d9ff3e5a1192720cf {
        display: block;
        grid-area: bottomright;
        transform: scale(1.9) translate(50px, -90px);
    }
  }
  
  @media only screen and (min-width:1440px) {
    .background-shapes__5adf9fde086e8f6d9ff3e5a1192720cf {
        transform: scale(1.9) translate(50px, -60px);
    }
  }
  
  @media only screen and (min-width:1800px) {
    .background-shapes__5adf9fde086e8f6d9ff3e5a1192720cf {
        transform: scale(3) translate(150px, -25px);
    }
  }
  
  .background-shapes__df2f8c6941375e3a6d910327db7e83e6 {
    background-color: var(--color-is-4);
    border: none;
    grid-area: topleft;
    height: 328px;
    transform: translate(-65px, 95px);
    width: 328px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__df2f8c6941375e3a6d910327db7e83e6 {
        height: 463px;
        transform: translate(-90px, 130px);
        width: 463px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__df2f8c6941375e3a6d910327db7e83e6 {
        height: 408px;
        transform: translate(0, 260px);
        width: 408px;
    }
  }
  
  .background-shapes__15b23a7a3f21dfe832119d58568d679b {
    background-color: #f86734;
    border: none;
    grid-area: topleft;
    transform: translate(-65px, 50px);
    height: 328px;
    width: 328px;
  }
  
  @media only screen and (min-width:600px) {
    .background-shapes__15b23a7a3f21dfe832119d58568d679b {
        height: 463px;
        transform: translate(-90px, 80px);
        width: 463px;
    }
  }
  
  @media only screen and (min-width:1024px) {
    .background-shapes__15b23a7a3f21dfe832119d58568d679b {
        height: 523px;
        transform: translate(-120px, 50px);
        width: 523px;
    }
  }
 